<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<!-- Try these connection strings ONE AT A TIME -->

		<!-- Option 1: Using localhost with instance -->
		<add name="ELearningDB"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ELearningSystem;Integrated Security=True;TrustServerCertificate=True"
     providerName="System.Data.SqlClient" />

		<!-- Option 2: Using dot notation with instance -->
		<!--
        <add name="ELearningDB" 
             connectionString="Data Source=.\MSSQLLocalDB;Initial Catalog=ELearningSystem;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
        -->

		<!-- Option 3: Using (LocalDB) notation -->
		<!--
        <add name="ELearningDB" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ELearningSystem;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
        -->

		<!-- Option 4: If above don't work, try SQL Server Express -->
		<!--
        <add name="ELearningDB" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ELearningSystem;Integrated Security=True"
             providerName="System.Data.SqlClient" />
        -->
	</connectionStrings>
</configuration>